= content_for :header_back_button do
  %a.btn.btn-default{href: sin_projects_url(@sin_project.sin)}
    %span.glyphicon.glyphicon-chevron-left
    = t('.back_button')

.project-show-page
  %h1= @sin_project.name
  
  .description
    %img.img-responsive.project-image{ src: @sin_project.small_picture_url }
    #{@sin_project.long_description.html_safe}

  .intro
    
    %a.btn.btn-danger.btn-lg{href: temperature_sin_project_url(@sin_project.sin, @sin_project, { anchor: "content" } | params.slice(:sin_detail)) }
      = t('.button')
      %span.glyphicon.glyphicon-chevron-right

  .counters
    .project-meter
      .percentage
        .value
          .banner= t('.completed')
          #{@sin_project.betterplace_progress_percentage}%
      .money
        .value
          .banner= t('.needed')
          = number_to_currency @sin_project.betterplace_open_amount_in_cents / 100, unit: '€', precision: 0, format: '%n%u'
  

.hidden.image_preloading
  %img{ src: "/images/sprites/flame-off.png" }
  %img{ src: "/images/sprites/flame-on.png" }
