= content_for :header_back_button do
  %a.btn.btn-default{href:  sin_project_url(@current_sin, @sin_project)}
    %span.glyphicon.glyphicon-chevron-left
    Project

.temperature_page
  %h1#heading
    How Gravely have you sinned?
  .donation_amount
    &euro;
    %span.value
      25
  = form_tag sin_project_donations_url(@sin_project.sin, @sin_project) do
    - params[:sin_detail].full? do |sd|
      = hidden_field_tag :sin_detail, sd
    .flames
      - Flame.all.each_with_index do |flame, size|
        - size += 1 # only 1 to 4 supported for now
        .col-md-3.col-xs-3.no-padding.flame_holder
          = radio_button_tag(:amount_in_cents, flame.amount_in_cents)
          = label_tag("amount_in_cents_#{flame.amount_in_cents}", '',
            class: "flame_#{size}")

    .buttons
      = submit_tag 'Choose', class: ["btn", "btn-danger","btn-really-large"]
