!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Ablass"
    %meta{:content => content_for?(:description) ? yield(:description) : "Ablass", :name => "description"}
    
    = render "layouts/social_media_gubbins"

    %link{rel:"stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"}

    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag "application"
    %script{src:"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}

    = csrf_meta_tags
    = yield(:head)
  %body.bck-gradient{class: "#{controller.controller_name}_controller" }
    = render "layouts/header" unless @no_header
    #content.container.content
      = yield
